<!DOCTYPE html>
<div th:replace="fragments/header.html"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <div class="row">
                <div class="col-10"><h1 class="display-2">Posts</h1></div>
                <div class="col-2" th:text="'Welcome ' + ${username}">Welcome</div>
            </div>
            <div class="row">
                <div class="col-12">
                </div>
            </div>

        </div>

    </div>
</div>

<div th:replace="fragments/footer.html"></div>